.ph-wrapper {
    width: 100%;
}

.ph-nav {
    min-width: 1470px;
}

.ph-logo {
    cursor: pointer;
}
.ph-logo-img {
    height: 70px;
    width: auto;
}

.ph-menu .ph-menu-text {
    cursor: pointer;
    white-space: nowrap;
}

.ph-dropdown {
    min-width: 150px;
}
.ph-dropdown-item {
    cursor: pointer;
}

.ph-right i {
    cursor: pointer;
}

.ph-alarm-icon { cursor: pointer; }

.ph-alarm-box {
    width: 380px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ph-alarm-item {
    cursor: pointer;
}


.ph-report {}
.ph-mail {}
.ph-profile {}
.ph-profile-btn {}
.ph-profile-menu {}
