<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>식물사전</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body class="bg-light" style="overflow-x: auto;" th:data-member-id="${#authentication.principal.MemberResponse.memberId}">

<th:block th:replace="~{fragments/header :: headerBar}"></th:block>

<div class="mx-auto" style="width:1470px; padding:16px;">

    <h4 class="fw-bold mb-4">건조에 강한 실내식물</h4>

    <table class="table table-bordered bg-white">
        <tbody>

        <tr>
            <th class="w-25 align-middle">식물명</th>
            <td>
                <input id="qName" type="text" class="form-control d-inline-block w-25" placeholder="식물명(표준·유통명)"/>
                <button id="btnSearch" class="btn btn-secondary ms-2">검색</button>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="mt-4">

        <div id="resultList" class="mt-4"></div>

        <nav class="d-flex justify-content-center mt-3" aria-label="page">
            <ul id="dryPlantDictionary-pagination" class="pagination"></ul>
        </nav>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/common/header.js}"></script>
<script type="module" th:src="@{/js/dictionary/dryPlantDictionary.js}"></script>
</body>
</html>
